<div class="col">
    <div id="page-content">
        <div id="vendors">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Clients</span>
                    </div>
                    <div id="table-header-right">
                        <div class="input-group mb-3">
                            <input id="search" type="text" placeholder="Search Client" [(ngModel)]="client_name">
                            <button id="add-bill" class="table-header-button" (click)="searchClient()">Search Client</button>


                        </div>
                        <!-- <img id="search-icon" src="search.png" (click)="searchClient()"> -->
                        <button id=" add-bill " class="table-header-button " routerLink="/Add-Client ">Add Client</button>
                        <button id="add-bill " class="table-header-button " routerLink="/Add-Invoice ">Add Invoice</button>
                    </div>
                </div>
                <table id="table ">
                    <thead>
                        <tr>
                            <td>Serial No</td>
                            <td>Client Name</td>
                            <td>Client Type</td>
                            <td>Reference No</td>
                            <td>
                                View Client
                            </td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let client of clients; let i=index ">
                            <td>01</td>
                            <td>{{client.client_name }}</td>
                            <td>Type 1</td>
                            <td>658795423568975</td>
                            <td>

                                <a routerLink="/View-Clients/{{client.client_id}} ">
                                    View
                                </a> |
                                <a routerLink="/Clients/{{client.client_id}} ">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>