<div class="col">
    <div id="page-content">
        <div id="vendors">
            <div id="table-container">
                <div id="table-header">
                    <div id="table-header-left">
                        <span id="tab-title">Clients</span>
                    </div>
                    <div id="table-header-right">
                        <input id="search" type="text" placeholder="Search Client">
                        <img id="search-icon" src="search.png">
                        <button id="add-bill" class="table-header-button" routerLink="/Clients/add">Add Client</button>
                        <button id="add-payment" class="table-header-button">Add Payment</button>
                        <button id="create-new-client" class="table-header-button">Create New Client</button>
                    </div>
                </div>
                <table id="table">
                    <thead>
                        <tr>
                            <td>Serial No</td>
                            <td>Client Name</td>
                            <td>Client Type</td>
                            <td>Reference No</td>
                            <td>
                                View Client
                            </td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let client of clients; let i = index">
                            <td>01</td>
                            <td>{{client.client_name }}</td>
                            <td>Type 1</td>
                            <td>658795423568975</td>
                            <td>
                                <a href="#" class="view-vendor">View</a> |
                                <a routerLink="/Clients/{{client.client_id}}">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- <div class="col-md-6">


<div class="col-md-6">
    <div *ngIf="currentClient.client_id">
        <h4>Client</h4>

        <div>
            <label><strong>Client Name:</strong></label> {{ currentClient.client_name }}
        </div>


    </div>

    <div *ngIf="!currentClient">
        <br />
        <p>Please click on a Client...</p>
    </div>
</div> -->